/* Dracula Colour Scheme Colours */

:root {
	--background: #282a36;
	--current: #44475a;
	--foreground: #f8f8f2;
	--comment: #6272a4;
	--cyan: #8be9fd;
	--green: #50fa7b;
	--orange: #ffb86c;
	--pink: #ff79c6;
	--purple: #bd93f9;
	--red: #ff5555;
	--yellow: #f1fa8c;
}

h1, h2, h3 {
	font-family: "Helvetica Neue", Helvetica, Arial, freesans, clean, sans-serif;
	font-weight: 400;
}

h1 {
	font-size: 40px;
}

h2 {
	font-size: 35px;
}

h3 {
	font-size: 30px;
}

body {
    font-family: "Fira Sans", -apple-system,BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
	font-size: 25px;
}

/* Colors */

body {
	background-color: var(--background);
	color: var(--foreground);
}

.board h3 {
	background-color: var(--background);
	border-color: var(--purple);
	color: var(--foreground);
}

.board h3:hover {
	background-color: var(--current);
}

a {
	color: var(--foreground);
}

a:hover {
	color: var(--pink);
}


/* Layout */

body {
}

.board {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	row-gap: 5%;
	column-gap: 5%;
}

/* Display long board titles without extending first grid column. Will display at least 6 columns */
.board h1 {
	grid-row: 1;
	grid-column-start: 1;
	font-size: 48px;
	margin: 15px 0 0 0;
}

.board h2 {
	grid-row: 2;
	margin: 0;
}


.board ul {
	grid-row: 3;
	border-radius: 15px;
	padding-left: 0;
	width: 100%;
	margin: 0;
}

.board li {
	display: block;
	border: 1px solid;
	padding: 15px;
	text-align: center;
	border-radius: 15px;
}

.board> ul > li {
	border: 1px solid;
	border-color: var(--purple);
	margin-bottom: 30px
}

.board > ul > li > ul {
	border: none;
	padding-top: 15px
}

.board > ul > li > ul > li {
	margin-top: 10px
}

.board > ul > li > ul > li > input {
	position: relative;
	vertical-align: middle;
	width: 20px;
	height: 20px;
	margin-bottom: 6px;
}

